<!DOCTYPE html>

<html>    
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/travelloicon.png">
        <link rel="stylesheet" href="/css/idea.css"> 
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <div class="Container">
            <div class="sidebar">
                <div class="info">
                    <p>Destination: {{destination}}</p>  
                    <p>Number of People: {{grpNo}}</p>              
                    
                </div>
                <div class="navigation">
                    <button id="idea_btn" >Idea List</button>
                    <button id="veto_btn" >Veto List</button>
                    <button id="logout">Logout</button>
                </div>
            </div>
            <div class="main">
                <h1>{{title}}</h1>  
                <p id="description">{{description}}</p>              
                <table id="ideaTable">
                    <tr>
                        <th class="slno">Sl.No</th>
                        <th class="idea">Idea</th>
                        <th class="cost">Cost</th>
                        <th class="veto">Veto </th>                        
                    </tr>
                </table>
                <div class="newIdeaForm">
                    <input type="text" id="newIdea" placeholder="Type your new idea here!">                                            
                    <input type="text" id="cost" placeholder="Estimated cost" >
                    <button id="newIdeaBtn">Submit!</button>
                </div>
            </div>
        </div>    
        {{>footer}}        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src= "/js/idea.js" ></script>
    </body>