<!DOCTYPE html>
<html>
    <head>
        <title>Edit Profile</title>
        <link rel="icon" href="/img/travelloicon.png">
        <link rel="stylesheet" href="/css/profile.css"> 
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {{>analytics}}
    </head>
    <body>
        <div id="background">
        <div class="Container">
            <div class="sidebar">
                <div class="info">
                    <p>Destination: {{dest}}</p>  
                    <p>Number of people: {{grpNo}}</p>         
                </div>
                <div class="navigation">
                    <button id="chng_btn">Change Password</button>
                    <button id="idea_btn" >Idea List</button>
                    <button id="veto_btn" >Veto List</button>
                    <button id="profile">Profile</button>
                    <button id="logout">Logout</button>
                </div>
                <div  class="form-popup1" id="myForm1">
                    <div class="form-container1">                        
                        <label>Enter your old password:</label><span class="close_chng_pwd">&times;</span><br>
                        <input id="chng_pwd" type="password">                                          
                        <button id="chng_pwd_sub">Submit</button>                         
                    </div>
                </div>  
            </div>
            <div class="main">
                <h1>{{title}}</h1>  
                <div class="form-profile">
                    <br>
                    <div class="line"><label>Destination</label><input type="text" id="dst" value={{dest}} onkeypress="editDest(this)" readonly><button class="btn" id="edit_dst" onclick="allowEdit(this)"><i  class="fa fa-edit"></i></button></div><br>
                    <div class="line"><label>Number of people</label> <input type="text" id="grpno" value={{grpNo}} onkeypress="edit(this)" readonly><button class="btn" id="edit_grpno" onclick="allowEdit(this)"><i class="fa fa-edit"></i></button></div><br>
                    <div class="line"><label>Email</label><input type="text" id="email" value={{email}} onkeypress="edit(this)" readonly><button class="btn" id="edit_email"  onclick="allowEdit(this)"><i class="fa fa-edit"></i></button></div><br>                          
                </div> 
                <div id="listDisplay">
                    <table id="ideaTable">
                        <tr>
                            <th class="slno">Sl.No</th>
                            <th class="idea">Idea</th>
                            <th class="time">Duration</th>
                            <th class="cost">Cost</th>                            
                            <th class="veto">Delete</th>                        
                        </tr>
                        <tr>
                            <td class="slno"></td>
                            <td class="idea">Delete All</td>
                            <td class="time"></td>
                            <td class="cost"></td>                            
                            <td class="veto"><input type="checkbox" id="deleteAll" onclick="myFunction()"></td>                        
                        </tr>
                    </table>                
                </div>  
                <div id="buttoncontainer"><button id="cancel">Cancel</button><button id="submit">Submit!</button></div>
                {{>footer}}                           
            </div>  
            
             <div class="form-popup" id="myForm">
        <form  class="form-container">
            <span class="close">&times;</span>
            <p>Since you're changing your destination, do you want to delete all your ideas?</p>
           <button type="submit" id="del_button" class="form-btn">Delete</button>
            <button type="button" class="keep-form-btn">Keep</button>            
        </form>
        </div>                      
        </div>
        </div>             
    </body>           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src= "/js/profile.js" > </script>
</html>