<!DOCTYPE html>
<html>
    <head>
        <title>Edit Profile</title>
        <link rel="icon" href="/img/travelloicon.png">
        <link rel="stylesheet" href="/css/profile.css"> 
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="Container">
            <div class="sidebar">
                <div class="info">
                    <p>Destination: {{dest}}</p>  
                    <p>Number of people: {{grpNo}}</p>         
                </div>
                <div class="navigation">
                    <button id="idea_btn" >Idea List</button>
                    <button id="veto_btn" >Veto List</button>
                    <button id="profile">Profile</button>
                    <button id="logout">Logout</button>
                </div>
            </div>
            <div class="main">
                <h1>{{title}}</h1>  
                <div class="form-profile">
                    <br>
                    <div class="line"><label>Destination</label><input type="text" id="dst" value={{dest}} onkeypress="edit(this)" readonly><button class="btn" id="edit_dst" onclick="allowEdit(this)"><i  class="fa fa-edit"></i></button></div><br>
                    <div class="line"><label>Number of people</label> <input type="text" id="grpno" value={{grpNo}} onkeypress="edit(this)" readonly><button class="btn" id="edit_grpno" onclick="allowEdit(this)"><i class="fa fa-edit"></i></button></div><br>
                    <div class="line"><label>Email</label><input type="text" id="email" value={{email}} onkeypress="edit(this)" readonly><button class="btn" id="edit_email"  onclick="allowEdit(this)"><i class="fa fa-edit"></i></button></div><br>                          
                </div>                            
            </div>            
        </div>    
    </body>            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src= "/js/profile.js" > </script>

</html>