<!DOCTYPE html>

<html>    
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/travelloicon.png">
        <link rel="stylesheet" href="/css/veto.css"> 
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <div class="Container">
            <div class="sidebar">
                <div class="info">
                    <p>Destination: {{destination}}</p>  
                    <p>Number of People: {{grpNo}}</p>                             
                </div>
                <div class="navigation">
                    <button id="idea_btn" >Idea List</button>
                    <button id="veto_btn" >Veto List</button>
                    <button id="profile">Profile</button>
                    <button id="logout">Logout</button>
                </div>
            </div>
            <div class="main">
                <h1>{{title}}</h1>   
                <p id="description">{{description}}</p> 
                <div id="listDisplay">             
                    <table id="vetoTable">
                        <tr>
                            <th class="slno">Sl.No</th>
                            <th class="veto">Veto</th>
                        </tr>                    
                    </table>
                </div>                
                {{>footer}}
            </div>
        </div>          
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src= "/js/veto.js" ></script>
    </body>